body{
    margin: 0;
    background-color: #1B1B1D;
}
.typewriter{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    color: #f5f5f5;
}
.typewriter-inner{
    color: #48A9FE;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    margin-left: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #222;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4f4f4f;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #EF4444;
  }