.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.headerContainer{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.header{

    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    color: #f5f5f5;
    text-align: center;
    margin-top: 20px;
}
.headerInner{
    color: #EF4444;
}
.line{
    width: 30%;
    background-color: #EF4444;
    color: #EF4444;
    border-radius: 5px;
}