.image{
    width: 100%;
    height: 75vh;
    background-image: url("../../../../public/images/huge.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}
.mess{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    color: #f5f5f5;
}
.art{
    color: #48A9FE;
}
.writer{
    display: flex;
}
.center{
    margin: auto;
}
@media screen and (max-width:760px) {
    .image{
        display: none;
    }
}

